:root {
  --bg-color: #1c343b;
  --aqua:#03c7bc;
}

body {
  background: var(--bg-color)!important;
}
.container {
  width: 100%;
}
.navbar{
  width: 100% !important;
}
.nav-link:hover{
color:var(--bg-color) !important;
}

.aqua{
  background-color:var(--aqua) !important;
}
.logo{
  letter-spacing: 3px;
  font-weight: bold;
  text-decoration: none;
  text-shadow: 0px 1px 1px #222222;
  transition: all 300ms;
}
.boton{
  border: 1px solid var(--bg-color);
  color:var(--bg-color);
}
.boton:hover{
  background: var(--bg-color)!important;
  border: 1px solid var(--bg-color);
  }

  /*BARRA LATERAL*/

#content {
  margin: 0px auto;
  overflow: hidden;
  background: white;
  min-height: 650px;
}

#lateral {
  width: 22%;
  min-height: 500px;
  float: left;
  margin-top: 20px;
  margin-left: 10px;
}

#lateral .bloack_aside {
  display: block;
  width: 92%;
  margin: 5px auto;
  padding: 10px;
}

#lateral h3 {
  display: block;
  color: #222;
  width: 100%;
  text-align: center;
  padding-top: 2px;
  padding-bottom: 2px;
  margin-bottom: 15px;
  font-size: 16px;
  font-weight: bold;
  background: #e1e1e1;
  border-bottom: 2px solid var(--aqua);
}
#lateral ul {
  margin-top: 20px;
  margin-bottom: 20px;
}

#lateral ul li {
  list-style: square;
  margin-left: 0px;
  margin-top: 5px;
  margin-bottom: 5px;
}

/*FORMS*/

.form_container{
  width: 50%;
}

label,
input[type="text"],
input[type="number"],
input[type="password"],
input[type="email"],
select, textarea {
  display: block;
  width: 95%;
  margin-top: 2px;
  margin-bottom: 2px;
}

textarea .form-control{
  width: 95% !important;
}

input[type="text"],
input[type="number"],
input[type="password"],
input[type="email"],
select, textarea {
  border: 1px solid #c9c9c9;
  box-shadow: 0px 0px 2px #ccc inset;
  background: white;
  padding: 2px;
  color: gray;
  transition: all 300ms;
}

input[type="text"]:focus,
input[type="number"]:focus,
textarea:focus,
input[type="password"]:focus,
input[type="email"]:focus {
  border: 1px solid var(--aqua);
  color: black;
}
.button,
input[type="button"],
input[type="submit"],
button {
  display: block;
  border-radius: 4px;
  width: auto;
  padding: 5px;
  padding-left: 10px;
  padding-right: 10px;
  background: var(--aqua);
  color: white;
  border: 1px solid var(--aqua);
  cursor: pointer;
}

.button {
  background: var(--bg-color);
  color: white !important;
  text-decoration: none;
}
.button:hover{
  background: var(--aqua);
}
.button-small {
  width: 120px;
  border: none;
  margin-bottom: 12px;
}

.button-gestion{
  margin-bottom: 5px;
  margin-top: 5px;

}
.button-red{
  background: red;
  border: orange;
}

.button-blue{
  background: #2679cd;
  border: #11608e;
}

label,
input[type="button"],
input[type="submit"],
button {
  display: block;
  margin-top: 10px;
}

/*CENTRAL*/
#central {
  min-height: 500px;
  width: 72%;
  float: right;
  border-left: 1px solid #ccc;
  box-shadow: -5px -1px 5px #ddd;
  padding: 20px;
}
#central h1 {
  font-size: 24px;
  font-weight: normal;
  letter-spacing: 1px;
  border-bottom: 1px solid #ccc;
  margin-bottom: 20px;
  padding: 20px;
  padding-top: 0px;
  text-align: center;
}

.product a{
  text-decoration: none;
}

.product {
  border-right: 1px solid #ccc;
  width: 30%;
  float: left;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: center;
}

.product img {
  width: 100px;
  margin-bottom: 10px;
}

.product h2 {
  font-size: 18px;
  margin-bottom: 10px;
}
.product p {
  font-weight: bold;
  color: #555;
  margin-bottom: 10px;
}


.img_carrito{
  width: 80px;
  margin: 10px;
}


.detail-product{
  width: 100%;
}


.detail-product .image{
  width: 40%;
  float: left;
  margin-right: 40px;
  margin-left: 10px;

}

.detail-product img{
  display: block;
  width: 100%;
  float: left;
}

.detail-product .data{
  width: 45%;
  float: right;
  margin-right: 40px;

}
 
.detail-product .button{
  width: 70px;
  text-align: center;
}
/*FOOTER*/

footer {
  clear: both;
  text-align: center;
  padding-top: 5px;
  padding-bottom: 5px;
  color: whitesmoke;
  background: #222222;
  border-top: 5px solid var(--aqua);
}

/*carrito*/

.delete-carrito{
  width: 285px;

}

.total-carrito{
  width: 285px;
  float: right;
}
.button-carrito{
  width: 80px;
  margin: 0px auto;
  text-align: center;
  border: 1px solid rgb(233, 89, 6);
}


.total-carrito h3{
  display: block;
  float: left;
  margin-top: 5px;
}

.button-pedido{
  display: block;
  width: 100px;
  float: right;
}

.button-delete{
  display: block;
  width: 100px;
  float: left;
  border: 1px solid rgb(233, 89, 6);

}

.updown-unidades{
  width: 20px;
  margin: 0px auto;
}

.up{
  padding: 2px;
  background-color: #11608e;
  border: none;
  margin-bottom: 2px;
}
.down{
  padding: 2px;
  background-color: #e67e07;
  border: none;
}

.table{
  margin-top: 15px;
  text-align: center !important;
}

.a{
  display: inline-block;
  margin-left: 92px;  
  margin-top: -64px;
  background: var(--bg-color);
  color: white;
  border: none;
}
.a:hover{
  background: var(--aqua) !important;
  border: none;
}
.alert-primary{
  margin-right: 8px;
}
.imagen{
  margin-bottom: 10px;
}

.product a{
  color:black;
}

.detalle{
  width: 100%;
  margin-right: 500px;
  float: left;
  margin-bottom: 15px;
}
.detalle img{
  width: 25%;
  display: block;
  float: left;
  margin-right: 20px;
}

.serie{
  float: left;
  width: 100%;
}

.buscar{
  background: var(--bg-color) !important;
}

.botones .lista{
  padding: 2px;
  margin: 1px;
  margin-bottom: 6px;
}

